<h1>Where's the bus?</h1>

<p>
  Tell us your address or location and we'll let you know where the closest bus it located!
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
